@import 'mixins/animation';
@import 'mixins/gradient';
@import 'mixins/transition';

c = desaturate(#3672BF,10%)
c1 = rgba(#FFF,.5)
c2 = rgba(#FFF,.8)

@keyframes loadingText-pulsate20
  0%
    color c1

  50%
    color c2

  100%
    color c1

.LoadingIndicator
  color c1
  gradient rgba(c,.4), rgba(c,.1)
  border-radius 5px
  box-shadow 0px 1px 3px rgba(#000,.15)
  display none
  font-weight bold
  font-size 16px
  height 36px
  line-height 36px
  letter-spacing 1px
  margin 0 auto
  overflow hidden
  text-align center
  transition-property opacity
  transition-duration 350ms
  transition-timing-function ease-out
  width 110px

  &.enableLoading
    animation-name loadingText-pulsate20
    animation-duration 500ms
    animation-iteration-count infinite
    animation-timing-function ease-in-out
    display block

