@import 'mixins/border';
@import 'mixins/box';
@import 'mixins/colors';
@import 'mixins/gradient';
@import 'mixins/pos';
@import 'mixins/transition';
@import 'mixins/text';
@import 'mixins/triangle';

triUpShape(borderSize = 10px, borderColor = #555)
  content ""
  display block
  border-color transparent transparent borderColor transparent
  border-style solid
  border-width borderSize
  height 0
  width 0
  z-index 2 


triUp(size=8px,fgcolor,bordercolor,t=0px,r=0px,b=0px,l=0px)
  &:before
    abspos t r b l
    triUpShape size bordercolor

  &:after
    abspos (t + 1px) r b l
    triUpShape size fgcolor

.DashboardStory
  color text-color
  font-family Helvetica, Arial, sans-serif
  position relative
  border-bottom 1px solid #222 + rgb(5,5,5)
  padding-top 2px

  .badge
    bgout(color)
      background-color color
      text-outline rgba(darken(color,30%),1.0) 1px

    &.gray
      bgout badge-gray

    &.red
      bgout badge-red

    &.green
      bgout badge-green

    &.yellow
      bgout badge-yellow

  > .details
    box-shadow inset
    background-color shadow-color
    display none
    padding 10px
    position relative
    z-index 1

    &:before
      content ""
      abspos 0px -5px -2px -5px
      box-shadow inset 0px 0px 7px #111
      background-color shadow-color
      z-index -1

  > #header
    border-radius 3px
    width 100%
    height 40px
    position relative
    display table

    a
      color #FFF
      text-decoration none
      position relative

      &:hover
        text-decoration underline
        position relative

    > div
      display table-row
      position relative

      > *
        display table-cell
        vertical-align middle

      > #storyID
        width 75px
        position relative
        text-align center
        padding-right 10px

        > #id
          display inline-block
          font-weight bold
          border-radius 3px
          font-size 20px
          padding 2px 5px 2px 5px

      > .Count
        &:first-child
          padding-left 10px
        width 85px
        padding-bottom 3px
        position relative

        &.selected
          > .label
            triUp(8px,shadow-color - rgb(3,3,3),#111,10px,0px,0px,5px)
            color text-color

        > .label
          color text-disabled-color
          font-weight bold
          font-size 9px
          padding-right 3px

        > .count
          color text-color
          border-radius 4px
          font-weight bold
          font-size 14px
          margin 0 1px 0 1px
          padding 1px 3px 1px 3px
          position relative
          vertical-align middle

