@import 'mixins/border';
@import 'mixins/box';
@import 'mixins/colors';
@import 'mixins/gradient';
@import 'mixins/pos';
@import 'mixins/transition';
@import 'mixins/text';
@import 'mixins/triangle';

triUpShape(borderSize = 10px, borderColor, tranColor)
  tranColor2 = rgba(tranColor,0)
  content ""
  display block
  border-color tranColor2 tranColor2 borderColor tranColor2
  border-style solid
  border-width borderSize
  height 0
  width 0
  z-index 2 


triUp(size=8px,fgcolor,bordercolor,offset=1px,t=0px,r=0px,b=0px,l=0px)
  &:before
    abspos t r b l
    triUpShape size bordercolor bordercolor

  &:after
    abspos (t + offset) r b l
    triUpShape size fgcolor bordercolor

.DashboardStory
  color text-color
  font-family Helvetica, Arial, sans-serif
  position relative
  border-bottom 1px solid #222 + rgb(5,5,5)
  padding-top 2px
  gradient lighten(#333,20%), #333

  &:hover
    > .header
      .chumps, .name a 
        color text-color
    gradient lighten(#333,35%), lighten(#333,35%)

  &.selected
    gradient lighten(#333,40%), lighten(#333,40%)
    border-top 2px solid #579
    > .header .name a
      color text-color
      font-weight bold
      text-shadow 0px -1px 0px #222

    > .header .collapseStory
      width 30px
      .triangle, .rect
        opacity 1.0

    > .details
      display block
      min-height 50px

  .badge
    bgout(color)
      background-color desaturate(darken(color,10%),10%)
      text-shadow 0px -1px 0px rgba(0,0,0,.3)

    &.gray
      bgout badge-gray

    &.red
      bgout lighten(saturate(badge-red,10%),10%)

    &.green
      bgout desaturate(badge-green,30%)

    &.yellow
      bgout lighten(badge-yellow,0%)

  > .details
    background-color shadow-color
    display none
    padding 10px
    position relative
    overflow hidden
    z-index 1

    &:before
      content ""
      abspos 0px -5px -2px -5px
      box-shadow inset 0px 0px 7px #111
      background-color shadow-color
      z-index -1

    > .LoadingIndicator
      abspos 15px 0px 0px 0px
      
    > .contents > .detail
      display none
      z-index -1

  > .header
    border-radius 3px
    width 100%
    position relative
    display table
    table-layout fixed

    a
      color #FFF
      text-decoration none
      position relative

      &:hover
        text-decoration underline
        position relative

    > div
      display table-row
      position relative

      > *
        display table-cell
        vertical-align middle

      > .storyID
        width 75px
        position relative
        text-align right

        > .id
          box-shadow 0px 1px 1px rgba(0,0,0,.3)
          display inline-block
          font-weight bold
          border-radius 3px
          border none
          padding 2px 5px 0px 5px
          margin-right 5px
          color darken(text-color,5%)

          span
            font-size 20px
            line-height 23px

      > .countCol
        width 115px

        &.code
          width 93px

          .countBadge
            width 37px
            padding 0 7px 0 0

            .pct
              font-size 8px
              padding-left 1px
              line-height 10px
              opacity .75
              vertical-align middle

        > div
          margin-left 5px
          position relative
          background-color lighten(#222,30%)
          border-radius 2px
          box-shadow inset 0px 1px 1px rgba(0,0,0,.3)
          padding 4px 0 3px 0

          &:hover
            > a
              color text-color-dark

          &.selected
            background-color #222

            > a
              color text-color
              font-weight bold
              border-radius 4px
              position relative
              triColor = shadow-color - rgb(5,5,5)
              triUp 8px (triColor + rgb(2,2,2)) triColor 3px 18px 0px 0px 16px

          > a 
            display inline-block
            text-shadow 0px -1px 0px rgba(0,0,0,.5)
            font-size 10px
            line-height 19px
            color rgba(text-disabled-color,.75)
            padding 0px 0 0 8px
            &:hover
              color text-color-dark
              text-decoration none

          > .countBadge
            float right
            border-radius 2px
            color color
            display inline-block
            font-size 14px
            line-height 19px
            padding 0px 4px 0px 4px
            text-align center
            text-shadow 0px -1px 0px rgba(0,0,0,.3)
            width 55px

            > span
              &:first-child
                padding 0 0 0 0

              padding 0 0 0 6px

            .gray
              color badge-gray

            .red
              font-weight bold
              color lighten(saturate(badge-red,40%),50%)

            .green
              color lighten(desaturate(badge-green,70%),10%)

            .yellow
              font-weight bold
              color lighten(badge-yellow,30%)

            .needsAttn:first-child
              text-shadow 0px -1px 0px rgba(0,0,0,.2)
              background-color badge-red
              border-radius 7px
              padding 1px 3px 1px 3px
              font-size 12px
              color text-color
              font-weight bold
              vertical-align baseline

      > .name
        position relative
        > div
          width 100%
          display inline-block
          padding 0px 10px 0px 10px 
          overflow hidden
          white-space nowrap
          text-overflow ellipsis
          vertical-align middle

          > a
            color text-disabled-color
            font-size 15px
            font-weight bold
            line-height 45px
            text-shadow 0px -1px 0px rgba(0,0,0,.5)

            &:hover
              text-decoration none

      > .chumps
        width 70px
        text-shadow 0px -1px 0px rgba(0,0,0,.5)
        color text-disabled-color
        font-size 10px
        padding-right 10px
        text-align right

        > .divider
          padding 0 1px 0 1px
          color #555

      > .collapseStory
        transition width 150ms ease-in
        width 2px

        iconColor = darken(text-disabled-color,30%)
        iconColor-light = text-color-dark
        myleft = 10px
        mytop = 12px
        &:hover
          > .rect
            background-color iconColor-light
          > .triangle
            triUpShape 7px iconColor-light #333
        
        > .rect, > .triangle
          opacity 0.0
          transition opacity 150ms ease-in

        > .rect
          abspos (mytop + 14px) false false myleft
          background-color iconColor
          width 14px
          height 3px

        > .triangle
          abspos (mytop - 3px) 0px 0px myleft
          triUpShape 7px iconColor #333

