@import 'mixins/border';
@import 'mixins/colors';
@import 'mixins/pos';
@import 'mixins/transition';

.DashboardPage
  abspos 0px 0px 0px 0px
  background-color bg-color-dark

  .DashboardStory
    &:nth-child(2n)
      background-color #333 + rgb(7,7,7)
