@import 'mixins/border';
@import 'mixins/box';
@import 'mixins/colors';
@import 'mixins/gradient';
@import 'mixins/pos';
@import 'mixins/transition';
@import 'mixins/text';
@import 'mixins/triangle';

triUpShape(borderSize = 10px, borderColor, tranColor)
  tranColor2 = rgba(tranColor,0)
  content ""
  display block
  border-color tranColor2 tranColor2 borderColor tranColor2
  border-style solid
  border-width borderSize
  height 0
  width 0
  z-index 2 

triUp(size=8px,fgcolor,bordercolor,offset=1px,t=0px,r=0px,b=0px,l=0px)
  &:before
    abspos t r b l
    triUpShape size bordercolor bordercolor

  &:after
    abspos (t + offset) r b l
    triUpShape size fgcolor bordercolor

.DashboardStory
  color text-color
  font-family Helvetica, Arial, sans-serif
  position relative
  border-bottom 1px solid rgba(#000,.3)
  border-top 1px solid rgba(#888,.25)
  gradient lighten(#333,20%), #333

  &:hover
    gradient lighten(#333,35%), lighten(#333,20%)
    border-top 1px solid rgba(#FFF,.15)
    border-bottom 1px solid rgba(#000,.7)

    > .header
      .chumps, .name a 
        color lighten(text-disabled-color,50%)

  &.selected
    gradient lighten(#333,40%), lighten(#333,40%)
    border-top 2px solid #579
    > .header .name a
      color text-color
      font-weight bold
      text-shadow 0px -1px 0px #222

    > .header .collapseStory
      width 30px
      .triangle, .rect
        opacity 1.0

    > .details
      display block
      min-height 50px


  > .details
    background-color shadow-color
    display none
    padding 10px
    position relative
    overflow hidden
    z-index 1

    &:before
      content ""
      abspos 0px -5px -2px -5px
      box-shadow inset 0px 0px 7px #111
      background-color shadow-color
      z-index -1

    > .LoadingIndicator
      abspos 15px 0px 0px 0px
      
    > .contents > .detail
      display none
      z-index -1


  > .header
    box horizontal
    box-align center
    height 45px
    position relative
    width 100%

    > .storyID
      border-radius 3px
      box-shadow 0px 1px 1px rgba(0,0,0,.3)
      font-size 20px
      font-weight bold
      margin 0 8px 0 8px
      padding 3px 5px 2px 5px
      text-align center

      bgout(color)
        background-color desaturate(darken(color,10%),10%)
        text-shadow 0px -1px 0px rgba(0,0,0,.3)

      &.gray
        bgout badge-gray

      &.red
        bgout lighten(saturate(badge-red,10%),10%)

      &.green
        bgout desaturate(badge-green,30%)

      &.yellow
        bgout lighten(badge-yellow,0%)

    > .LabeledCounts
      margin 0 5px 0 0
      min-width 100px

    > a.name
      box-flex 1
      color text-disabled-color
      display block
      font-size 15px
      font-weight bold
      padding 0 5px 0 3px
      text-shadow 0px -1px 0px rgba(0,0,0,.5)
      text-decoration none
      overflow hidden
      white-space nowrap
      text-overflow ellipsis

      &:hover
        text-decoration underline

    > .chumps
      text-shadow 0px -1px 0px rgba(0,0,0,.5)
      color text-disabled-color
      font-size 10px
      padding-right 10px
      text-align right

      .currentUser
        text-shadow none
        color text-color
        padding 2px 5px 1px 5px

    > .collapseStory
      transition width 150ms ease-in
      width 2px

      iconColor = darken(text-disabled-color,30%)
      iconColor-light = text-color-dark
      myleft = 10px
      mytop = 12px
      &:hover
        > .rect
          background-color iconColor-light
        > .triangle
          triUpShape 7px iconColor-light #333
      
      > .rect, > .triangle
        opacity 0.0
        transition opacity 150ms ease-in

      > .rect
        abspos (mytop + 14px) false false myleft
        background-color iconColor
        width 14px
        height 3px

      > .triangle
        abspos (mytop - 3px) 0px 0px myleft
        triUpShape 7px iconColor #333

