@import 'mixins/border';
@import 'mixins/box';
@import 'mixins/colors';
@import 'mixins/gradient';
@import 'mixins/pos';
@import 'mixins/transition';
@import 'mixins/text';
@import 'mixins/triangle';

triUpShape(borderSize = 10px, borderColor = #555)
  content ""
  display block
  border-color transparent transparent borderColor transparent
  border-style solid
  border-width borderSize
  height 0
  width 0
  z-index 2 


triUp(size=8px,fgcolor,bordercolor,offset=1px,t=0px,r=0px,b=0px,l=0px)
  &:before
    abspos t r b l
    triUpShape size bordercolor

  &:after
    abspos (t + offset) r b l
    triUpShape size fgcolor

.DashboardStory
  color text-color
  font-family Helvetica, Arial, sans-serif
  position relative
  border-bottom 1px solid #222 + rgb(5,5,5)
  padding-top 2px
  gradient lighten(#333,20%), #333

  &:hover
    gradient lighten(#333,35%), lighten(#333,35%)

  &.selected
    gradient lighten(#333,40%), lighten(#333,40%)
    border-top 2px solid #579
    > .header > div > .name > div > a
      color text-color
      font-weight bold
      text-shadow 0px -1px 0px #222

    > .header > div > .collapseStory
      width 36px
      .triangle, .rect
        opacity 1.0

    > .details
      display block



  .badge
    bgout(color)
      background-color color
      text-shadow 0px -1px 0px rgba(0,0,0,.5)

    &.gray
      bgout badge-gray

    &.red
      bgout badge-red

    &.green
      bgout badge-green

    &.yellow
      bgout badge-yellow

  > .details
    background-color shadow-color
    display none
    padding 10px
    position relative
    overflow hidden
    z-index 1

    &:before
      content ""
      abspos 0px -5px 0px -5px
      box-shadow inset 0px 0px 7px #111
      background-color shadow-color
      z-index -1

    > .detail
      display none

  > .header
    border-radius 3px
    width 100%
    height 40px
    position relative
    display table
    table-layout fixed

    a
      color #FFF
      text-decoration none
      position relative

      &:hover
        text-decoration underline
        position relative

    > div
      display table-row
      position relative

      > *
        display table-cell
        vertical-align middle

      > .storyID
        width 85px
        position relative
        text-align center
        padding 0 0 1px 0

        > .id
          box-shadow inset 0px 1px 1px rgba(0,0,0,.6)
          display inline-block
          font-weight bold
          border-radius 3px
          border none
          font-size 20px
          padding 3px 5px 2px 5px
          color darken(text-color,5%)

      > .code
        &.countLabel
          width 43px

        &.countBadges
          .pct
            text-shadow none
            vertical-align middle
            font-size 8px
            padding-left 1px
            color text-color-dark

      > .countLabel
        width 47px
        > div
          margin 0 0 2px 0
          > a
            text-shadow 0px -1px 0px rgba(0,0,0,.5)
            font-size 10px
            //font-weight bold
            color text-disabled-color
            padding 4px 5px 4px 5px
            &:hover
              color text-color-dark
              text-decoration none

            &.selected
              color text-color
              font-weight bold
              border-radius 4px
              box-shadow inset 0px 1px 2px rgba(#000,.5)
              background-color rgba(#000,.3)
              padding 7px 44px 6px 6px
              position relative
              triColor = shadow-color - rgb(5,5,5)
              triUp(8px,triColor + rgb(2,2,2),triColor,3px,21px,0px,0px,34px)

      > .countBadges
        width 45px
        > a
          box-shadow inset 0px 1px 1px rgba(0,0,0,.6)
          text-shadow 0px 0px 1px #000
          font-size 12px
          font-weight bold
          margin-right 2px
          padding 2px 4px 1px 4px
          line-height 20px
          border-radius 3px

      > .name
        > div
          padding 0px 10px 2px 0 
          overflow hidden
          white-space nowrap
          text-overflow ellipsis

          > .chumps
            display inline-block
            text-shadow 0px -1px 0px rgba(0,0,0,.5)
            min-width 40px
            padding-right 5px
            color text-disabled-color
            font-size 10px

            > .divider
              padding 0 1px 0 1px
              color #555

          > a
            color text-disabled-color
            font-size 15px
            font-weight bold
            line-height 45px
            text-shadow 0px -1px 0px rgba(0,0,0,.5)

      > .collapseStory
        transition width 150ms ease-in
        width 10px
        
        iconColor = darken(text-disabled-color,30%)
        iconColor-light = text-color-dark
        &:hover
          > .rect
            background-color iconColor-light
          > .triangle
            triUp(7px,iconColor-light,iconColor-light,0px,8px,0px,0px,0px)
        
        > .rect, > .triangle
          opacity 0.0
          transition opacity 150ms ease-in

        > .rect
          abspos 26px 16px false false
          background-color iconColor
          width 14px
          height 3px

        > .triangle
          abspos 1px 0px 0px false
          width 30px
          triUp(7px,iconColor,iconColor,0px,8px,0px,0px,0px)

