.TestResultsGraph{background-color:rgba(0,0,0,0.4);-moz-border-radius-topleft:3px;-moz-border-radius-topright:3px;-moz-border-radius-bottomright:3px;-moz-border-radius-bottomleft:3px;border-top-left-radius:3px;border-top-right-radius:3px;border-bottom-right-radius:3px;border-bottom-left-radius:3px;position:relative;padding-left:5px;}
.TestResultsGraph .graphContainer{width:125px;height:63px;padding:2px 0 2px 0;position:relative;margin-bottom:3px}
.TestResultsGraph .labelRow{text-align:center;font-size:18px;font-weight:bold;vertical-align:middle;padding:0 12px 0 8px;color:#a0c26e;}
.TestResultsGraph .labelRow >.label{opacity:.5;padding:0 0 2px 0}
.TestResultsGraph .labelRow.fail{color:#c57f7f}
