.Page {
  position: relative;
}
.Page > .Nav {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 120px;
}
.Page > #content {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 120px;
  padding: 2px 7px 7px 7px;
  background-color: #404040;
  overflow: auto;
}
