@import 'mixins/pos';
@import 'mixins/badge';
@import 'mixins/box';
@import 'mixins/border';
@import 'mixins/colors';

.TestsSection
  > .CatTable > table > tbody > tr
    &.failing > .id
      color lighten(badge-red,80%)

    &.towrite > .id
      color lighten(badge-yellow,80%)

    &.passing > .id
      color lighten(badge-green,80%)

    > .category
      amt = .25
      lamt = 90%
      &.failing
        background-color rgba(badge-red,amt)
        color lighten(badge-red,lamt)

      &.towrite
        background-color rgba(badge-yellow,amt)
        color lighten(badge-yellow,lamt - 10%)

      &.passing
        background-color rgba(badge-green,amt)
        color lighten(badge-green,lamt - 10%)

    > .category
      text-align left

    > .column
      vertical-align middle

      &.id
        width 60px
        min-width 60px
        font-size 16px
        font-weight bold
        text-align center

