@import 'mixins/pos';
@import 'mixins/badge';
@import 'mixins/box';
@import 'mixins/border';
@import 'mixins/colors';

.TestsSection
  color #FFF
  font-size 12px

  > table
    width 100%
    border-spacing 50px 

    > tbody > tr
      height 40px
      color text-disabled-color

      &.odd > td
        background-color #333

      &.groupSpacer
        background-color transparent
        height 8px

      &.notToday
        color text-color
        > .name
          font-weight bold

        > .status, > .date, > .owner
          font-style italic

        &:first-child
          border-top 0

      > td
        &.colSpacer
          background-color transparent
          width 5px

        &#header
          background-color shadow-color
          border-radius 3px
          font-size 12px
          font-weight bold
          width 75px
          padding 7px

          amt = .25
          &.failing 
            background-color rgba(badge-red,amt)
          &.towrite 
            background-color rgba(badge-yellow,amt)
          &.passing 
            background-color rgba(badge-green,amt)

          lamt = 90%
          &.failing 
            color lighten(badge-red,lamt)
          &.towrite
            color lighten(badge-yellow,lamt - 30%)
          &.passing 
            color lighten(badge-green,lamt)

        &.id, &.name, &.date, &.status, &.owner
          vertical-align middle

        &.id
          width 60px
          font-size 16px
          font-weight bold
          text-align center
          amt = 90%
          &.failing 
            color lighten(badge-red,70%)
          &.nostatus 
            color #AAA
          &.towrite 
            color lighten(badge-yellow,amt - 30%)
          &.passing 
            color lighten(badge-green,amt)

        &.name
          text-shadow 1px 1px 0px shadow-color

        &.owner
          width 75px

