.TestsSection{color:#fff;font-size:12px;}
.TestsSection > table{width:100%;border-spacing:50px;}
.TestsSection > table > tbody > tr{height:40px;color:#999;}
.TestsSection > table > tbody > tr.odd > td{background-color:#333}
.TestsSection > table > tbody > tr.groupSpacer{background-color:transparent;height:8px}
.TestsSection > table > tbody > tr.notToday{color:#fff;}
.TestsSection > table > tbody > tr.notToday > .name{font-weight:bold}
.TestsSection > table > tbody > tr.notToday > .status,.TestsSection > table > tbody > tr.notToday > .date,.TestsSection > table > tbody > tr.notToday > .owner{font-style:italic}
.TestsSection > table > tbody > tr.notToday:first-child{border-top:0}
.TestsSection > table > tbody > tr > td.colSpacer{background-color:transparent;width:5px}
.TestsSection > table > tbody > tr > td#header{background-color:#222;-moz-border-radius-topleft:3px;-moz-border-radius-topright:3px;-moz-border-radius-bottomright:3px;-moz-border-radius-bottomleft:3px;border-top-left-radius:3px;border-top-right-radius:3px;border-bottom-right-radius:3px;border-bottom-left-radius:3px;font-size:12px;font-weight:bold;width:75px;padding:7px;}
.TestsSection > table > tbody > tr > td#header.failing{background-color:rgba(147,44,44,0.25)}
.TestsSection > table > tbody > tr > td#header.towrite{background-color:rgba(132,104,40,0.25)}
.TestsSection > table > tbody > tr > td#header.passing{background-color:rgba(88,122,36,0.25)}
.TestsSection > table > tbody > tr > td#header.failing{color:#dd8e8e}
.TestsSection > table > tbody > tr > td#header.towrite{color:#caa44f}
.TestsSection > table > tbody > tr > td#header.passing{color:#a2cf5d}
.TestsSection > table > tbody > tr > td.id,.TestsSection > table > tbody > tr > td.name,.TestsSection > table > tbody > tr > td.date,.TestsSection > table > tbody > tr > td.status,.TestsSection > table > tbody > tr > td.owner{vertical-align:middle}
.TestsSection > table > tbody > tr > td.id{width:60px;font-size:16px;font-weight:bold;text-align:center;}
.TestsSection > table > tbody > tr > td.id.failing{color:#d47070}
.TestsSection > table > tbody > tr > td.id.nostatus{color:#aaa}
.TestsSection > table > tbody > tr > td.id.towrite{color:#caa44f}
.TestsSection > table > tbody > tr > td.id.passing{color:#a2cf5d}
.TestsSection > table > tbody > tr > td.name{text-shadow:1px 1px 0 #222}
.TestsSection > table > tbody > tr > td.owner{width:75px}
