@import 'mixins/border'
@import 'mixins/box'
@import 'mixins/colors'
@import 'mixins/gradient'
@import 'mixins/pos'
@import 'mixins/transition'

.Bar
  background-color #36729F
  box-shadow 0 1px 3px #111

  font-family Helvetica, Arial, sans-serif
  letter-spacing 1px
  font-size 12px
  font-weight bold
  line-height 32px
  text-shadow 0 -1px 0 rgba(#000,.3)

  #xoltop
    color rgba(#FFF,.8)
    padding 0 20px 0 20px
    font-size 16px
    position relative
    text-align center
    vertical-align middle
    width 112px

  > .navItemContainer
    text-align center
    
    > .navItem
      border-radius 5px
      color rgba(#FFF,.6)
      padding 4px 8px 3px 8px
      text-decoration none
      transition color 250ms ease

      &.selected
      &.selected:hover
      &.hover
        color #FFF
        box-shadow inset 0px 1px 2px rgba(#000,.5)
        background-color rgba(#000,.3)

  #auth
    float right
    position relative
    panelcolor = hsl(205deg,49%,55%)
    margin-right 5px
    text-align right

    &:hover
      background-color panelcolor
      border-radius 0 0 5px 5px
      box-shadow 0 0 5px rgba(#000,.4)
      color #FFF

      > a
        color #FFF

      > #auth-login-panel
        display block


    > a
      color rgba(#FFF,.8)
      text-decoration none
      display inline-block
      padding 0 10px 0 10px
      width 150px

      &:hover
        color #FFF
    
    > #auth-login-panel
      display none
      padding 0px 20px 10px 20px
      color #FFF
      text-align right

      input
        color bg-color-dark
        margin 0 0 0 7px
        padding 2px 5px 2px 5px
        width 100px
        outline none
        border none
        border-radius 2px
        box-shadow inset 0 1px 1px rgba(#000,.7)

        &.invalid
          border 2px solid rgba(#F00,.7)
