@import 'mixins/animation';

@keyframes loadingText-pulsate
  0%
    color rgba(#FFF,.35)

  50%
    color rgba(#FFF,.75)

  100%
    color rgba(#FFF,.35)

loadingText()
  display none

  width 200px
  height 50px
  margin 0 auto
  border-radius 5px
  opacity .75
  line-height 50px
  color #FFF

  &.enableLoading
    display block
    animation-name loadingText-pulsate
    animation-duration 500ms
    animation-iteration-count infinite
    animation-timing-function ease-in-out

    letter-spacing 1px
    font-size 20px
    font-weight bold
    text-align center

