@import 'mixins/pos';
@import 'mixins/badge';
@import 'mixins/box';
@import 'mixins/border';
@import 'mixins/colors';

.TasksSection
  > .CatTable > table > tbody > tr
    > .category
      amt = .25
      lamt = 90%
      &.needsAttn
        background-color rgba(badge-red,amt)
        color lighten(badge-red,lamt)

      &.retest
        background-color rgba(badge-yellow,amt)
        color lighten(badge-yellow,lamt - 10%)

      &.complete
        background-color rgba(badge-green,amt)
        color lighten(badge-green,lamt - 10%)

    > .category
      text-align left

    > .column
      vertical-align middle

      &.name
        padding-left 10px

      &.owner
        text-align center
        width 100px
        min-width 100px
