.TasksSection > .CatTable > table > tbody > tr > .category.needsAttn{background-color:rgba(147,44,44,0.25);color:#dd8e8e}
.TasksSection > .CatTable > table > tbody > tr > .category.retest{background-color:rgba(132,104,40,0.25);color:#d1b067}
.TasksSection > .CatTable > table > tbody > tr > .category.complete{background-color:rgba(88,122,36,0.25);color:#9ccc52}
.TasksSection > .CatTable > table > tbody > tr > .category{text-align:left}
.TasksSection > .CatTable > table > tbody > tr > .column{vertical-align:middle;}
.TasksSection > .CatTable > table > tbody > tr > .column.name{padding-left:10px}
.TasksSection > .CatTable > table > tbody > tr > .column.owner{text-align:center;width:100px;min-width:100px}
