@import 'mixins/pos';
@import 'mixins/badge';
@import 'mixins/box';
@import 'mixins/border';
@import 'mixins/colors';

.TasksSection
  > .CatTable > table
    table-layout fixed

  > .CatTable > table > tbody > tr
    > .category
      amt = .25
      lamt = 90%
      &.needsAttn
        background-color rgba(badge-red,amt)
        color lighten(badge-red,lamt)

      &.retest
        background-color rgba(badge-yellow,amt)
        color lighten(badge-yellow,lamt - 10%)

      &.complete
        background-color rgba(badge-green,amt)
        color lighten(badge-green,lamt - 10%)

    > .category
      text-align left

    > .column
      vertical-align middle

      &.showMoreLess
        width 30px
        > .more
          display block
        > .less
          display none
          
        &.showLess
          > .more
            display none
          > .less
            display block
          

      &.note
        width 100%
        padding 20px 0px 20px 10px
        white-space nowrap
        text-overflow ellipsis
        overflow hidden
        vertical-align middle
        line-height 15px

        &.expanded
          white-space normal
          .linebreak
            display block

        .linebreak
          display inline-block
          width 10px


      &.owner
        text-align center
        width 80px
        min-width 80px
