@import 'mixins/pos';
@import 'mixins/badge';
@import 'mixins/box';
@import 'mixins/border';
@import 'mixins/colors';

.AEDInput
  box horizontal
  box-align center

  > .label
    color darken(text-disabled-color,50%)
    font-size 13px
    width 100px
    padding 0 10px 0 2px
    margin-top 2px
    text-align right

  > input.newCodeTask
    box-flex 1
    box-shadow inset 0px 1px 2px rgba(#000,.45)
    display block
    color text-color
    background-color rgba(#FFF,.05)
    border-radius 3px
    border none
    box-sizing border-box
    font-size 14px
    outline none
    line-height 30px
    padding 0px 10px 0px 10px

    &::-webkit-input-placeholder
    &::-moz-placeholder
      color rgba(#FFF,.3)
      font-style italic

  > .addButton
    color text-disabled-color
    cursor pointer
    border-radius 3px
    box-shadow 0px 1px 3px rgba(#000,.15)
    font-weight bold
    font-size 13px
    height 28px
    line-height 25px
    gradient rgba(#888,.3), rgba(#888,.15)
    letter-spacing 1px
    margin 2px 5px 0 2px
    overflow hidden
    text-align center
    text-shadow 0px -1px 0px #222
    width 105px

    &:hover
      color darken(text-color-dark,10%)
      gradient rgba(#888,.4), rgba(#888,.2)
      > .plus
        color darken(text-color-dark,10%)

    &:active
      color text-color
      gradient rgba(#888,.2), rgba(#888,.4)
      > .plus
        color text-color

    > .plus
      color darken(text-disabled-color,30%)
      font-weight bold
      font-size 18px
      margin-right 3px
