.CodeSection{padding:10px;position:relative;}
.CodeSection > .nocodetasks{width:100%;text-align:center;font-weight:bold;padding:15px 0 0 0;color:#4d4d4d}
.CodeSection > .CatTable > .category.notStarted > .header{background-color:rgba(147,44,44,0.25);color:#de9191;position:relative}
.CodeSection > .CatTable > .category.inProgress > .header{background-color:rgba(132,104,40,0.25);color:#d7bc7c}
.CodeSection > .CatTable > .category.complete > .header{background-color:rgba(79,110,32,0.25);color:#add56f}
.CodeSection > .CatTable > .category > .header{text-align:left}
.CodeSection > .CatTable > .category > .members > .member > .column{vertical-align:middle;}
.CodeSection > .CatTable > .category > .members > .member > .column.description{box-flex:1;-webkit-box-flex:1;-moz-box-flex:1;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.CodeSection > .CatTable > .category > .members > .member > .column.description > a{color:#ddd;text-decoration:none;}
.CodeSection > .CatTable > .category > .members > .member > .column.description > a:hover{text-decoration:underline}
.CodeSection > .CatTable > .category > .members > .member > .column.owner{text-align:right;width:80px}
